example/pipelines/Table Storage.json
{
    "name": "Table Storage",
    "properties": {
        "activities": [
            {
                "name": "Get known files",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.00:01:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureTableSource",
                        "azureTableSourceQuery": {
                            "value": "@concat('PartitionKey eq ''', variables('PartitionKey'), '''')",
                            "type": "Expression"
                        },
                        "azureTableSourceIgnoreTableNotFound": true
                    },
                    "dataset": {
                        "referenceName": "ConfigTable",
                        "type": "DatasetReference",
                        "parameters": {
                            "TableName": "KnownFiles"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "Each new file",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Find new files",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Find new files').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Move file",
                            "type": "Wait",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "waitTimeInSeconds": 1
                            }
                        },
                        {
                            "name": "Create new entry",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "Move file",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.00:01:00",
                                "retry": 3,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "AzureTableSource",
                                    "additionalColumns": [
                                        {
                                            "name": "Row",
                                            "value": {
                                                "value": "@item()",
                                                "type": "Expression"
                                            }
                                        },
                                        {
                                            "name": "DateMoved",
                                            "value": {
                                                "value": "@utcnow()",
                                                "type": "Expression"
                                            }
                                        }
                                    ],
                                    "azureTableSourceQuery": {
                                        "value": "PartitionKey eq '1'",
                                        "type": "Expression"
                                    },
                                    "azureTableSourceIgnoreTableNotFound": false
                                },
                                "sink": {
                                    "type": "AzureTableSink",
                                    "azureTableInsertType": "merge",
                                    "azureTableDefaultPartitionKeyValue": {
                                        "value": "@variables('PartitionKey')",
                                        "type": "Expression"
                                    },
                                    "azureTableRowKeyName": {
                                        "value": "Row",
                                        "type": "Expression"
                                    },
                                    "writeBatchSize": 10000
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ConfigTable",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "TableName": "Select1"
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ConfigTable",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "TableName": "KnownFiles"
                                    }
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "List files",
                "type": "AppendVariable",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "FileNames",
                    "value": "filename1.csv"
                }
            },
            {
                "name": "Each known file",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Get known files",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get known files').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Add file name",
                            "type": "AppendVariable",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "KnownFiles",
                                "value": {
                                    "value": "@item().RowKey",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Find new files",
                "type": "Filter",
                "dependsOn": [
                    {
                        "activity": "List files",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Each known file",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@variables('FileNames')",
                        "type": "Expression"
                    },
                    "condition": {
                        "value": "@not(contains(variables('KnownFiles'), item()))",
                        "type": "Expression"
                    }
                }
            }
        ],
        "variables": {
            "FileNames": {
                "type": "Array"
            },
            "PartitionKey": {
                "type": "String",
                "defaultValue": "dataprovider-table1"
            },
            "KnownFiles": {
                "type": "Array"
            }
        },
        "annotations": [],
        "lastPublishTime": "2021-09-02T14:30:09Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}